#preloader {  
position: absolute;  
text-align: left;
top: 0.2;  left: 0;  
right: 0;  
bottom: 0.2;  
z-index: 9999;  
overflow: hidden;  
background: #fff;
}
label,input{
	display: block;
}
#main {
	box-sizing: border-box;
	border: double;
	width: 500px;
	height: 190px;
}
#test {
	box-sizing: border-box;
	border: double;
	width: 500px;
	height: 190px;
	
}
#txthouse {
	text-align:left;
}

#preloader:before {  
content: "";  
position: absolute;
top: calc(50% - 30px);  
left: calc(50% - 30px);  
border: 6px solid #f2f2f2;  
border-top: 6px solid #56829e ;  
border-radius: 50%;  width: 60px;  
height: 60px;  
-webkit-animation: animate-preloader 1s linear infinite;  
animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {    -webkit-transform: rotate(0deg);    
	transform: rotate(0deg); 
	}
	
	100% {    
	-webkit-transform: rotate(360deg);    
	transform: rotate(360deg);  
	}}

@keyframes animate-preloader {  
	0% {    -webkit-transform: rotate(0deg);    
	transform: rotate(0deg);  }
	100% {    -webkit-transform: rotate(360deg);    
	transform: rotate(360deg);  }}